/*This contains global styles and styles in the main template*/

/*  GLOBAL VARIABLES */


/* -----------------------------------------------------
 * FONTS
 * ------------------------------------------------------*/

$chicken-font: 'LIGHTWEIGHT-SERIF';

@font-face {
  font-family: $chicken-font;
  src: url('LIGHTWEIGHT-SERIF.ttf');
}

/* -----------------------------------------------------
 * MEDIA QUERY BREAKPOINTS
 * ------------------------------------------------------*/

$media-break-phone: 375px;
$media-break-medium: 500px;
$media-break-wide: 750px;



/* -----------------------------------------------------
 * COLORS
 * ------------------------------------------------------*/

 $light-grey: #888;

/* -----------------------------------------------------
 * GLOBAL STYLES
 * ------------------------------------------------------*/

button, h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'LIGHTWEIGHT-SERIF', 'Georgia', serif;
}

form, input {
	font-family: sans-serif;
}

h1, h2 {
	margin-left: auto;
	margin-right: auto;
}

li {
	list-style: none;
}

.bordered {
  border-style: solid;
  border-color: black;
  border-width: 0.3em;
  border-radius: 5px;
}

button {
	background-color: #000;
	&:hover {
		background-color: #555;
	}
}


/* -----------------------------------------------------
 * MAIN STYLES (don't put template styles here, plz! <3)
 * This is the place for universal styles.
 * ------------------------------------------------------*/

.logo-bar {
	.header-title {
		font-family: $chicken-font;
		font-size: 10vw;
	}
	.main-logo {
		width: 10vw;
		height: auto;
	}
}

/* -----------------------------------------------------
 * DON'T KNOW WHAT THIS DOES,BUT DON'T WANT TO BREAK THINGS
 * ------------------------------------------------------*/



/* Probably also menu? */
.plusplus {
	float: right;
	cursor: pointer;

}

.panel {
	background-color: #fff; border-width:2px; border-style:solid;
	border-radius: 5px;
  margin: 5px;
}


*{
	box-sizing: border-box;
}

.banner-left {
	float: left;
	width:50%;
	height:50%;
}

.banner-right {
/*	height: 50%;
	width: 50%;*/
	float: right;
}


.main-header {
	background-color: #fff;
	margin: 50px;
	margin-left: 100px;
	margin-right: 100px;
	min-height: 75px;
}

.main-logo {
	text-align: center;
}
.main-nav li {
	background-color: #fff;
}

.main-wrapper{
	height:auto;
	margin: auto;
}


.main-nav {
	li {
		&:hover {
			background-color: $light-grey;
		}
	}
}

.main-logo,
.main-nav,
.main-nav li {
	display: inline-block;
}


.main-logo a,
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
}

@media only screen and (max-width: $media-break-wide) {

	.fbwrapper{
		position: relative;
		margin: 0;
		border-width: 3px;
		display: inline-block;
		padding: 5 15px;
		border-radius: 5px;
	}

}

@media only screen and (max-width: $media-break-medium) {

  .main-header {
  	width: 100%;
  	margin: 30px 0;
  }


  // .logo-bar {
  // 	.header-title {
  // 		border: red 1;
  // 		margin: 10% 0;
  // 		font-size: 400%;
  // 		width: 33%;
  // 	}
  // 	.main-logo {
  // 		border: blue;
  // 		width: 60%;
  // 		height: auto;
  // 	}
  // }
}

@media only screen and (max-width: $media-break-phone){
	.main-header {
  	width: 100%;
  	margin: 300x 0;
  }

}

/* -----------------------------------------------------
 * Animations
 * ------------------------------------------------------*/


.fade{
  -webkit-animation: fade 3s normal;

}

#textLeft{
  -webkit-animation: movingLeft 3s normal;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;

}

#textRight{
  -webkit-animation: movingRight 3s normal;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;

}

 @-webkit-keyframes movingLeft {
  0% {
    -webkit-transform: translate(-1em,0);
  }
  100% {
    -webkit-transform: translate(0.2em,0);
  }
}

@-webkit-keyframes movingRight {
  0% {
    -webkit-transform: translate(1em,0);
  }
  100% {
    -webkit-transform: translate(-0.2em,0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



