/*html {
	font-family: LIGHTWEIGHT-SERIF.ttf;
}*/

@font-face {
  font-family: 'LIGHTWEIGHT-SERIF';
  src: url('LIGHTWEIGHT-SERIF.ttf');
}

html, h1, h2, h3, h4, h5, h6, p { font-family: 'LIGHTWEIGHT-SERIF', 'Georgia', serif; }

.itemName {
	font-family: 'LIGHTWEIGHT-SERIF', 'Georgia', serif;	
	float: center;
    text-align: center;
}

h1, h2 {
	margin-left: auto;
	margin-right: auto;
}


h3 {
	color: white;
}

.plusplus {
	float: right;
	cursor: pointer;

}

.up {
    display: inline-block;
    text-indent: -9999px;
    width: 70px;
    height: 61px;
    background: url(1.svg);
    background-size: 70px 61px;
    float: right;
}

.down {
    display: inline-block;
    text-indent: -9999px;
    width: 70px;
    height: 61px;
    background: url(2.svg);
    background-size: 70px 61px;
    float:left;
}

#fix {
	padding-right: 293px;
}

.column, .columns {
	float: right;
}

.large-8 .small-12 .columns {
	background-color: #fff; border-width:3px; border-style:solid;	
	border-radius: 5px;
}

.panel {
	background-color: #fff; border-width:2px; border-style:solid;	
	border-radius: 5px;
    margin: 5px;
}


*{
	box-sizing: border-box;
}

.top-bar-section {
	background-color: #fff; border-width:3px; border-style:solid;	
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
	/*height:100%;*/
	margin: auto;
}

.large-6 large-centered columns {
	margin: 275px; 
}

.banner-left {
	padding: 0px;
	margin-bottom: 0px;
	float: left;
}

.banner-right {
	padding: 0px;
	margin-bottom: 0px;
/*	height: 50%;
	width: 50%;*/
	float: right;
}

.top-bar-section ul li {
	background: white;
}



.main-header       { background-color: #fff; border-width:3px; border-style:solid; }
.main-logo         { float: left;}
.main-nav li       { background-color: #3f8abf; }

.main-wrapper{
	height:auto;
	margin: auto;
}

.main-header {
	margin: 50px;
	margin-left: 100px;
	margin-right: 100px;
	min-height: 75px;
}

.main-nav li: hover{
	background: #8d8d8d;
}

.main-logo,
.main-nav,	
.main-nav li {
	display: inline-block;
}

.main-nav{
	float:right;

}

.main-logo a, 
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
}

.fbwrapper{
	margin: auto;
	border-width: 3px;
	display: inline-block;
	padding: 5 15px;
	border-radius: 5px;
}

.about{
	float:right;
	margin: 150px;
	margin-left:14%;
	text-align: center;
	display: inline-block;
	position: absolute;
}

.between{
	text-align: center;
	float:left;

	/*figure out better solution*/
	padding-left:25px; 
}
#navbtn{
	display: inline-block;
}
.row, h1{
	margin-bottom: 0rem;
}
