
/* This is the normal block input  */
label.new { 
  width: 300px;
  float: center;
  margin: 0 20px 0 0;
}

div.new-padded {
  /* padding-top: 10px;  */
  padding-right: 0px;
  /* padding-bottom: 0.25in;  */
  padding-left: 0em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
