<template name="submitted">
  <!-- FIXME: figure out how to do validation better-->
{{#if success}}
	<h1 align="center"> Your order will be there soon. </h1>
	<p style="font-size: 150%" align="center">Please have cash or card ready when the delivery arrives.</p>
	
{{else}}
  <h1 align="center"> Something went wrong with your order.</h1>
  <h1 align="center"> Sorry about that.  If this happened to me I'd be mad as balls. </h1>
  <h1 align="center"> Feel free to try again. </h1>
{{/if}}

</template>
