.food-group {
	margin: 15px 0;
}
.group-title {
	font-size: 1.2em;
	padding: 5px;
	display:block;
	margin: 0 auto;
	text-align:center;
	font-weight: bold;
	font-size:x-large;
}
.delete-group {
	display:block;
  	margin: 0 auto;
}
.button-row {
	margin-top: 10px;
	margin-bottom: 10px;
}
