#header{
	text-align: center;
}

.cal-title{
	text-align: center;
	margin-right: 8%;
}

.timesFont{
	font-size:1.2em;
}

.float-left{
	float: left;
}

.inline-display{
	display: inline-block;
}

.text-center{
	text-align:center;
}
