/*This contains global styles and styles in the main template*/

/*  GLOBAL VARIABLES */


/* -----------------------------------------------------
 * FONTS
 * ------------------------------------------------------*/

$chicken-font: 'LIGHTWEIGHT-SERIF';

@font-face {
  font-family: $chicken-font;
  src: url('LIGHTWEIGHT-SERIF.ttf');
}

/* -----------------------------------------------------
 * MEDIA QUERY BREAKPOINTS
 * ------------------------------------------------------*/

$media-break-phone: 415px;
$media-break-medium: 500px;
$media-break-wide: 750px;

/* -----------------------------------------------------
 * COLORS
 * ------------------------------------------------------*/

 $light-grey: #888;

/* -----------------------------------------------------
 * GLOBAL STYLES
 * ------------------------------------------------------*/

body{
  height: 100%;
}

button, h1, h2, h3, h4, h5, h6, p {
	font-family: 'LIGHTWEIGHT-SERIF', 'Georgia', serif;
}

form, input {
	font-family: sans-serif;
}

h1, h2 {
	margin-left: auto;
	margin-right: auto;
}

li {
	list-style: none;
}

.bordered {
  border-style: solid;
  border-color: black;
  border-width: 0.3em;
  border-radius: 5px;
}

button {
	background-color: #000;
	border-radius: 3px;
	font-size: 1.2em;
	&:hover {
		background-color: #555;
	}
	&[disabled] {
		background-color: black;
	}
}

i.menu-item-up {
	&:hover{
	color: green;
	}
}
i.menu-item-down {
	&:hover{
	color: green;
	}
}

button.order{
	background-color: green;
}


/* -----------------------------------------------------
 * MAIN STYLES (don't put template styles here, plz! <3)
 * This is the place for universal styles.
 * ------------------------------------------------------*/

.logo-bar {
	.header-title {
		font-family: $chicken-font;
		font-size: 10vw;
	}
	.main-logo {
		width: 10vw;
		height: auto;
	}
}

/* -----------------------------------------------------
 * Animations
 * ------------------------------------------------------*/


.fade{
  -webkit-animation: fade 3s normal;

}

#textLeft{
  -webkit-animation: movingLeft 3s normal;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  				animation-fill-mode: forwards;

}

#textRight{
  -webkit-animation: movingRight 3s normal;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  				animation-fill-mode: forwards;
}

 @-webkit-keyframes movingLeft {
  0%   {-webkit-transform: translate(-1em,0);}
  100% {-webkit-transform: translate(0.2em,0);}
}

@-webkit-keyframes movingRight {
  0%   {-webkit-transform: translate(1em,0);}
  100% {-webkit-transform: translate(-0.2em,0);}
}

@-webkit-keyframes fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

/* -----------------------------------------------------
 * DON'T KNOW WHAT THE BELOW DOES,BUT DON'T WANT TO BREAK THINGS
 * ------------------------------------------------------*/


// *{
// 	box-sizing: border-box;
// }

.banner-left {
	float: left;
	width:50%;
	height:50%;
}

.banner-right {
	float: right;
}


.main-header {
	background-color: #fff;
	margin: 50px;
	margin-left: 100px;
	margin-right: 100px;
	min-height: 75px;
}

.main-logo {
	text-align: center;
}
.main-nav li {
	background-color: #fff;
}

.main-wrapper{
	height:auto;
	margin: auto;
}


.main-nav {
	li {
		&:hover {
			background-color: $light-grey;
		}
	}
}

.main-logo,
.main-nav,
.main-nav li {
	display: inline-block;
}


.main-logo a,
.main-nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	border-radius: 5px;
}

.footer-cater{
	font-size: 1.5em;
}

.login-button {
	cursor: pointer;
	color: #008CBA;
}


@media all and (min-width: $media-break-wide) {
  h1{
    font-size:3.5rem;
  }
}

@media all and (min-width: $media-break-medium) {
  .main-header {
  	width: 100%;
  	margin: 30px 0;
  }
  #nav{
    display:none;
  }
}

@media all and (min-width: $media-break-phone){
  footer{

  }
	#nav{
  	display:none;
  }
}

@media all and (max-width: $media-break-phone){
	footer {
  	display: none;
  }
  h1{
    font-size: 3.0rem;
  }
  h2 {
    font-size: 3.9875rem;
  }
	.main-header {
  	width: 100%;
  	margin: 10px 0;
  }
  .logo-bar {
    margin: 50px 0 50px 0;
  	.header-title {
  		font-size: 15vw;
  	}
  	.main-logo {
  		width: 15vw;
  		height: auto;

  	}
  }
  .splash-wrapper {
    .order-button {
      width: 80%;
      border-radius: 10px;
      // height: auto;
      // background-color: black;
      // color: white !important;

      margin: 40px 0 100px 0;
      // font-size: 10vw;
      // font-family: 'LIGHTWEIGHT-SERIF';
    }
  }
  #textRight{
    right: 3%;
  }

}
