@import "variables";

.red{
  color: red;
}

.visible-label {
  display: block;
  padding-left: 15px;
}

.visible-checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  position: relative;
  *overflow: hidden;
}

.active h5{
	margin-left:50%;
	margin-right: 50%;
	font-size: 2em;
}

.itemName h2{
	//display: inline-block;
  text-align: center;

}

#button-add-first-item {
  display:block;
  margin: 0 auto;
}

#price{
  font-size: 2em;
  margin: auto;
  text-align: center;

}

p#price{
  font-family: monospace;
}

.p-description{
  font-size: 1.2rem;
}

#hidden{
	display:none;
}

#show:hover > #hidden {
	display:block;
}

#menu-container{
  float: right;
}

.menu-item-wrapper {
  margin: 0 5px 15px !important;
  padding: 20px 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // background:rgba(246, 246, 246, 0.7);
}

#menu-container div.menu-item-wrapper:nth-child(odd){
  background:rgba(246, 246, 246, 0.6);

}

#cart-wrapper {
  padding: 8px 10px;
  background: #fff;
  position: fixed;
  left: 4%; //media
  z-index: 1000;

  box-shadow: -10px 5px 20px rgb(140,140,140);
  // border-width:5px;

  #cart-total {
    margin: 10px;
  }
}

#cart-notification {
  display: none;
  text-align: center;
}

#menu-item{
  padding: 0px 10px;
  
}
div#menu-item{
  flex-grow: 1;
  img{
    border-style: solid;  
    border-width: 3px;
    box-shadow: 10px 10px 20px;
  } 
}

#item-content{
  flex-grow: 1;
}

#id.fa-lg{
  font-size: 0.53em;
}

.menu-item-quantity {
	display: inline-block;
	font-size: 3vw;
  margin: 15px;
}

.menu-up-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#quantity-style{
  font-family: noteworthy;
  font-weight: 600;
}

.admin-menu-controls {
  margin: 0 10px;
}

// This is the class for the fa arrows
.arrow{
  width: 100%;
  text-shadow: -1px 1px 2px rgba(0,0,0,0.75);
}

