@import "variables";

@media #{$small-up} {
}

@media #{$small-only} {

  //
  // footer {
  //  	display: none;
  //  }
  //  h1{
  //    font-size: 3.0rem;
  //  }
  //  h2 {
  //    font-size: 3.9875rem;
  //  }
  //  #nav{
  //    display:block;
  //  }
  //  .main-header {
  //  	width: 100%;
  //  	margin: 10px 0;
  //  }
  //  .logo-bar {
  //    margin: 50px 0 50px 0;
  //  	.header-title {
  //  		font-size: 15vw;
  //  	}
  //  	.main-logo {
  //  		width: 15vw;
  //  		height: auto;
  //  	}
  //  }
  //  .splash-wrapper {
  //    .order-button {
  //      width: 80%;
  //      border-radius: 10px;
  //      margin: 40px 0 100px 0;
  //    }
  //  }
  //  #textRight{
  //    right: 3%;
  //    // fix - this is hacky
  //  }
  //  .csstransforms .cn-wrapper{
  //    font-size:.78em;
  //  }
  //  .cn-button{
  //    font-size:1em;
  //  }
  //  .csstransforms .cn-wrapper li {
  //    font-size:1.52em;
  //  }


  .csstransforms {
    .cn-wrapper {
      font-size:.78em;
      li {
        font-size:1.52em;
      }
    }
  }
  .cn-button {
    font-size:1em;
  }
}

@media #{$medium-up} {
  h1{
    font-size:3.5rem;
  }
}

@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }

//
//
//
// @media all and (min-width: $media-break-wide) {

// }
//
// @media all and (min-width: $media-break-medium) {

// }
//
// @media all and (max-width: $media-break-phone){
//   footer {
//    	display: none;
//    }
//    h1{
//      font-size: 3.0rem;
//    }
//    h2 {
//      font-size: 3.9875rem;
//    }
//    #nav{
//      display:block;
//    }
//    .main-header {
//    	width: 100%;
//    	margin: 10px 0;
//    }
//    .logo-bar {
//      margin: 50px 0 50px 0;
//    	.header-title {
//    		font-size: 15vw;
//    	}
//    	.main-logo {
//    		width: 15vw;
//    		height: auto;
//    	}
//    }
//    .splash-wrapper {
//      .order-button {
//        width: 80%;
//        border-radius: 10px;
//        margin: 40px 0 100px 0;
//      }
//    }
//    #textRight{
//      right: 3%;
//      // fix - this is hacky
//    }
//    .csstransforms .cn-wrapper{
//      font-size:.78em;
//    }
//    .cn-button{
//      font-size:1em;
//    }
//    .csstransforms .cn-wrapper li {
//      font-size:1.52em;
//    }
//    .csstransforms .cn-wrapper li {
//      font-size:1.52em;
//    }
//  }
//
// // nav
// @media screen and (max-width:480px){
              // .csstransforms .cn-wrapper{
              //   font-size:.78em;
              // }
              // .cn-button{
              //   font-size:1em;
              // }
              // .csstransforms .cn-wrapper li {
              //   font-size:1.52em;
              // }
// }
//
// @media all and (max-width:350px){
//   .no-csstransforms .cn-wrapper{
//     width:15.15px;
//     margin-left: -7.5em;
//   }
//   .no-csstransforms .cn-wrapper li{
//     height:1em;
//     width:1em;
//   }
// }
//
//
// // menu
// @media only screen and (max-width: 40em) {
//
//   .menu-item-quantity {
//     font-size: 5vw;
//   }
//
//   #cart-wrapper {
//     position: relative;
//     border-color: #000;
//     border-width:3px;
//     left: 0;
//   }
//   #cart-notification {
//     display: inline-block;
//   }
// }
//
// @media only screen and (min-width: 500) {
//   .menu-item-quantity {
//     font-size: 4vw;
//   }
// }
