@import "variables";

body{
  height: 100%;
}

button, h1, h2, h3, h4, h5, h6, p {
	font-family: 'LIGHTWEIGHT-SERIF', 'Georgia', serif;
}

form, input {
	font-family: sans-serif;
}

h1, h2 {
	margin-left: auto;
	margin-right: auto;
}

li {
	list-style: none;
}

h2 small {
  font-size: 70%;
  color: #000000;
}

.bordered {
  border-style: solid;
  border-color: black;
  border-width: 0.3em;
  border-radius: 5px;
}

button {
	background-color: #000;
	border-radius: 3px;
	font-size: 1.2em;
	&:hover {
		background-color: #555;
	}
	&[disabled] {
		background-color: black;
	}
}

i.menu-item-up {
	&:hover{
	color: green;
	}
}
i.menu-item-down {
	&:hover{
	color: green;
	}
}

button.order{
	background-color: green;
}


/* -----------------------------------------------------
 * MAIN STYLES (don't put template styles here, plz! <3)
 * This is the place for universal styles.
 * ------------------------------------------------------*/

.logo-bar {
	.header-title {
		font-family: $chicken-font;
		font-size: 10vw;
	}
	.main-logo {
		width: 10vw;
		height: auto;
	}
}

/* -----------------------------------------------------
 * Animations
 * ------------------------------------------------------*/

.fade{
  -webkit-animation: fade 3s normal;

}

#textLeft{
  -webkit-animation: movingLeft 3s normal;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  				animation-fill-mode: forwards;

}

#textRight{
  -webkit-animation: movingRight 3s normal;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  				animation-fill-mode: forwards;
}

 @-webkit-keyframes movingLeft {
  0%   {-webkit-transform: translate(-1em,0);}
  100% {-webkit-transform: translate(0.2em,0);}
}

@-webkit-keyframes movingRight {
  0%   {-webkit-transform: translate(1em,0);}
  100% {-webkit-transform: translate(-0.2em,0);}
}

@-webkit-keyframes fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

/* -----------------------------------------------------
 * DON'T KNOW WHAT THE BELOW DOES,BUT DON'T WANT TO BREAK THINGS
 * ------------------------------------------------------*/


.main-logo {
	text-align: center;
}
.main-nav li {
	background-color: #fff;
}

.main-wrapper{
	height:auto;
	margin: auto;
}


.main-nav {
	li {
		&:hover {
			background-color: $light-grey;
		}
	}
}

.footer-cater{
	font-size: 1.5em;
}

.login-button {
	cursor: pointer;
	color: #008CBA;
}
