.visible-label {
  display: block;
  padding-left: 15px;
}

.visible-checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  position: relative;
  *overflow: hidden;
}

.active h5{
	margin-left:50%;
	margin-right: 50%;
	font-size: 2em;
}

.itemName h2{
	//display: inline-block;
  text-align: center;

}

#price{
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.p-description{
  font-size: 1.2rem;
}

#hidden{
	display:none;
}

#show:hover > #hidden {
	display:block;
}

.menu-item-wrapper {
  margin: 0 5px 15px !important;
  padding: 20px 10px;
}

#cart-wrapper {
  padding: 8px 10px;
  background: #fff;
  position: fixed;
  right: 10px;
  z-index: 1000;

  #cart-total {
    margin: 10px;
  }
}

#cart-notification {
  display: none;
  text-align: center;
}

#menu-item{
  padding: 20px 10px;
}

.menu-item-quantity {
	display: inline-block;
	font-size: 3vw;
  margin: 15px;
}

.menu-up-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#quantity-style{
  font-family: noteworthy;
  font-weight: 600;
}

// This is the class for the fa arrows
.arrow{
  width: 100%;
  text-shadow: -1px 1px 2px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 40em) {

  .menu-item-quantity {
    font-size: 5vw;
  }

  #cart-wrapper {
    position: relative;
    border-color: red;
    left: 0;
  }
  #cart-notification {
    display: inline-block;
  }
}

@media only screen and (min-width: 500) {
  .menu-item-quantity {
    font-size: 4vw;
  }
}

