.active h5{
	margin-left:50%;
	margin-right: 50%;
	font-size: 2em;
}

.itemName h2{
	display: inline-block;
}

#hidden{
	display:none;
}

#show:hover > #hidden {
	display:block;
}

.bordered {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.menu-item-wrapper {
  margin: 10px 0 !important;
  -webkit-box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.75);
}

#cart-wrapper {
	-webkit-box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.75);
	box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.75);
  background: #fff;
  position: fixed;
  left: 70.5%;
  z-index: 1000;
}

#menu-item{
  padding: 10px;
}

.menu-item-up {
    display: inline-block;
    width: 70px;
    height: 61px;
    background: url(arrow.svg);
    background-size: 70px 61px;
    margin: auto;
}

.menu-item-quantity {
	display: inline-block;
	font-size: 3vw;
}

.menu-item-down {
    display: inline-block;
    //text-indent: -9999px;
    width: 70px;
    height: 61px;
    background: url(arrow.svg);
    background-size: 70px 61px;
    margin: auto;
     -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.menu-up-down {
	vertical-align: middle
}

@media only screen and (min-width: 500) {
	.menu-item-quantity {
		font-size: 4vw;
	}
}

