.hungry {
  text-align: center;
  margin-bottom: 20px;
}

.element-animation{
  animation: animationFrames ease-in-out 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease-in-out 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease-in-out 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease-in-out 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease-in-out 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;

}


@keyframes animationFrames{
  0% {
    transform: rotate(38deg);
  }
  25% {
    transform: rotate(0deg) ;
  }
  50% {
    transform: rotate(-38deg) ;
  }
  75% {
    transform: rotate(0deg) ;
  }
  100% {
    transform: rotate(38deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform: rotate(38deg) ;
  }
  25% {
    -moz-transform: rotate(0deg) ;
  }
  50% {
    -moz-transform: rotate(-38deg) ;
  }
  75% {
    -moz-transform: rotate(0deg) ;
  }
  100% {
    -moz-transform: rotate(38deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: rotate(38deg) ;
  }
  25% {
    -webkit-transform: rotate(0deg) ;
  }
  50% {
    -webkit-transform: rotate(-38deg) ;
  }
  75% {
    -webkit-transform: rotate(0deg) ;
  }
  100% {
    -webkit-transform: rotate(38deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform: rotate(38deg) ;
  }
  25% {
    -o-transform: rotate(0deg) ;
  }
  50% {
    -o-transform: rotate(-38deg) ;
  }
  75% {
    -o-transform: rotate(0deg) ;
  }
  100% {
    -o-transform: rotate(38deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform: rotate(38deg) ;
  }
  25% {
    -ms-transform: rotate(0deg) ;
  }
  50% {
    -ms-transform: rotate(-38deg) ;
  }
  75% {
    -ms-transform: rotate(0deg) ;
  }
  100% {
    -ms-transform: rotate(38deg) ;
  }
}