<template name="nav">
	<button class="cn-button" id="cn-button">+</button>
		<div class="cn-wrapper" id="cn-wrapper">
			<ul>
			    <li><a href="/calendar"><span class="fa fa-calendar fa-lg"></span></a></li>
			    <li><a href="#"><p>Cater</p></a></li>
			    <li><a href="/"><p>Home</p></a></li>
			    <li><a href="/menu"><p>Menu</p></a></li>
			    <li>
			    	<a href="https://www.facebook.com/kicknchickenSC">
			    		<span class="fa fa-facebook fa-lg"></span>
			    	</a>
			    </li>
			</ul>
		</div>
		<div id="cn-overlay" class="cn-overlay"></div>
</template>
